body{
    background-color: #212121;
    padding: 0px;
    margin: 0px;
}
#logoDiv > *{
    margin: 7px;
}
nav > div > input{
    background-color: #121212;
    width: 400px;
    height: 40px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

#searchIconDiv{
    height: 40px;
    width: 50px;
    background-color: #303030;
    padding:5px 13px;
    border-radius: 0px 10px 10px 0px;
   
}
#recoderIconDiv{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    padding:5px 13px;
    margin: 5px;
}
#userImage{
    border-radius: 15px;
}

#sidebar{
    width: 224px;
    color:white;
font-size: 14px;
position: absolute;
left: 0;
/* background-color: gray; */
}
#sidebar>div{
    width: 200px;
    height: 40px;
    padding-left: 19px;
    border-radius: 5px;
    transition: all ease 0.5s;
}
#sidebar>div:hover{
    background-color:#303030;
}
#sidebar > h4{
    color: #AAA;
font-size: 14px;
font-weight: 700;
margin-left: 19px;
}
#sidebar>div>img{
    border-radius: 10px;
}

#mainBody{
    position: absolute;
    left: 225px;
    background-color: black;
}
#homeLink > a{
    color:white;
    font-size: 14px;
    text-decoration: none;
}
#topMainBody{
    background-color: #212121;
    overflow-x: scroll;
    width: 80vw;
    overflow: hidden;
    padding:0px 22px;
}
#topMainBody>div{
background-color: #303030;
border-radius: 15px;
height: 32px;
width: 53px;
padding:5px 12px;
box-sizing: border-box;
}

#first{
    width: 47px !important;
    background-color: white !important;
    color: black;
}
#leftScroll{
    position: absolute;
    right: 0;
    border-radius: 50%;
    background-color: #212121;
    border: none;
}
#rightScroll{
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: #212121;
    border: none;
}
#leftScroll:hover,#rightScroll:hover{
background-color: gray;
}
.show{
    display: inline-block;
}
.hide{
    display: none;
}

.card{
    min-width: 275px; 
    max-width: 400px;
    height: 310px;
    background-color: black;
    gap: 10px;
    font-size: smaller;
}
#cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: red;
    font-size: larger;
}
.card > div:last-child{
    display:flex;
    justify-content: space-between;
    color: white;
}
.card > div:last-child > img{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    align-items: center;
}
.card > div:last-child > div{
    display: flex;
    flex-direction: column;
}
